In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
#import matplotib.pyplot as plt
#% matplotlib inine
import math

train = pd.read_csv(r'C:\Users\Titan\DataScience\train.csv')

train["Hyp"] = 0
train.loc[train.Sex == "female", "Hyp"] = 1
train.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Hyp
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1

In [2]:
#train["Result"].value_count(normalize=True)

In [3]:
def clean_data(data):
    data["Fare"] = data["Fare"].fillna(data["Fare"].dropna().median())
    data["Age"] = data["Age"].fillna(data["Age"].dropna().median())
    
    data.loc[data["Sex"] == "male", "Sex"] = 0
    data.loc[data["Sex"] == "female", "Sex"] = 1
    
    data["Embarked"] = data["Embared"].fillna("S")
    data.loc[data["Embarked"] == "S", "Embarked"] = 0
    data.loc[data["Embarked"] == "C", "Embarked"] = 1
    data.loc[data["Embarked"] == "Q", "Embarked"] = 2

In [4]:
data = train

In [21]:
#data.isnull().sum()
#data["Fare"] = data["Fare"].fillna(data["Fare"].dropna().median())
#data["Age"] = data["Age"].fillna(data["Age"].dropna().median())
#data.loc[data["Sex"] == "male", "Sex"] = 0
#data.loc[data["Sex"] == "female", "Sex"] = 1
    
#data["Embarked"] = data["Embarked"].fillna("S")
#data.loc[data["Embarked"] == "S", "Embarked"] = 0
#data.loc[data["Embarked"] == "C", "Embarked"] = 1
#data.loc[data["Embarked"] == "Q", "Embarked"] = 2

In [22]:
train = data

from sklearn import linear_model

target = train["Survived"].values
features = train[["Pclass","Sex","Age","SibSp","Parch","Fare"]].values

classifier = linear_model.LogisticRegression()
classifier_ = classifier.fit(features, target)

In [23]:
classifier_.score(features, target)

0.8002244668911336

In [24]:
from sklearn import tree

target = train["Survived"].values
features = train[["Pclass","Sex","Age","SibSp","Parch","Fare"]].values

decisionTree = tree.DecisionTreeClassifier(random_state=1)
decisionTree_ = decisionTree.fit(features, target)

In [25]:
decisionTree_.score(features, target)

0.9797979797979798

In [29]:
from sklearn import model_selection

score = model_selection.cross_val_score(decisionTree_, features, target, scoring="accuracy", cv=20)
score

array([0.67391304, 0.80434783, 0.71111111, 0.75555556, 0.71111111,
       0.73333333, 0.75555556, 0.75555556, 0.91111111, 0.75      ,
       0.84090909, 0.77272727, 0.75      , 0.88636364, 0.72727273,
       0.77272727, 0.90909091, 0.77272727, 0.81818182, 0.88636364])

In [30]:
score.mean()

0.7848978919631093

In [34]:
'''
feature_names = ["Pclass","Sex","Age","SibSp","Parch","Fare"]
tree.export_graphviz(score, feature_names=feature_names, out_file="tree.dot")


dot -Tpng tree.dot > tree.png
'''

'\nfeature_names = ["Pclass","Sex","Age","SibSp","Parch","Fare"]\ntree.export_graphviz(score, feature_names=feature_names, out_file="tree.dot")\n\n\ndot -Tpng tree.dot > tree.png\n'