In [3]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("C:/Users/Titan/Downloads"))

# Any results you write to the current directory are saved as output.

['%5BWebinar%5D+PyTorch+Basics+-+Linear+Regression+%26+Neural+Networks.ics', '+Quantum++Computing+-+Hands+On+Workshop%21%21.ics', 'Automating  Facebook Pages using Graph API (2).doc', 'AwardCertificate.pdf', 'CellStrat+AI+Lab+-+Coding+Hours+-+Rapid+prototyping+with+GANs+%28office+meetup%29.ics', 'Compressed', 'customer_segments (1).ipynb', 'customer_segments.ipynb', 'Deep+Learning+-+Introduction+to+TensorFlow+%28Online+Webinar%29.ics', 'Deep+Learning+-+Perceptrons+%28Online+Webinar%29.ics', 'desktop.ini', 'Disrupt4.0+-+Webinar+on+Flavours+of+AI.ics', 'Documents', 'drive-download-20171227T081716Z-001', 'drive-download-20171227T081808Z-001', 'drive-download-20171227T082032Z-001', 'DV0101EN-1-1-1-Introduction-to-Matplotlib-and-Line-Plots-py-v2.0 (1).ipynb', 'DV0101EN-2-2-1-Area-Plots-Histograms-and-Bar-Charts-py-v2.0.ipynb', 'How+to+train+Artificial+Neural+Networks+%28Online+Webinar%29.ics', 'Innovations+in+Deep+Learning+%28Online+Webinar%29.ics', 'Introduction to Python.ipynb', 'lfw-funneled', 'Music', 'PCA.ipynb', 'Programs', 'Python.docx', 'Talks.ics', 'test.csv', 'train.csv', 'tutorials_jupyter.zip', 'Video', 'Webinar+on+Artificial+Intelligence%3A+AdaptPerish+in+The+Industries+of+The+Future.ics', '~$acity certified Data Scientist(Python,numpy,pandas,SQL,matplotlib,sklearn).doc']

In [7]:
data = pd.read_csv("C:/Users/Titan/Downloads/train.csv")
data.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [8]:
data.drop('Cabin', axis=1, inplace=True)
data.dropna(inplace=True)

In [9]:
sex = pd.get_dummies(data['Sex'], drop_first=True)     #pd.get_dummies(data['Sex'])
embark = pd.get_dummies(data['Embarked'], drop_first=True)
Pclass = pd.get_dummies(data['Pclass'], drop_first=True)
data = pd.concat([data, sex, embark, Pclass], axis=1)
data.drop(['Pclass','Name','Sex','Ticket','Embarked','PassengerId'], axis=1, inplace=True)

data.head()

   Survived   Age  SibSp  Parch     Fare  male  Q  S  2  3
0         0  22.0      1      0   7.2500     1  0  1  0  1
1         1  38.0      1      0  71.2833     0  0  0  0  0
2         1  26.0      0      0   7.9250     0  0  1  0  1
3         1  35.0      1      0  53.1000     0  0  1  0  0
4         0  35.0      0      0   8.0500     1  0  1  0  1

In [10]:
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn import cross_validation

x = data.drop("Survived", axis=1)
y = data['Survived']

X_train,X_test,y_train,y_test = cross_validation.train_test_split(x,y,test_size=0.3, random_state=1)

param = dict(kernel=["rbf"], C=[1.0, 10, 100, 1000], gamma=[1.0, 10, 100, 1000])

svm_model = SVC()
clf = GridSearchCV(svm_model, param)
clf.fit(X_train, y_train)
clf.best_params_

C:\Users\Titan\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

{'C': 1.0, 'gamma': 1.0, 'kernel': 'rbf'}

In [11]:
from sklearn.metrics import accuracy_score as accuracy

logmodel = SVC(C=1.0, gamma=1.0, kernel='rbf')
logmodel.fit(X_train, y_train)
prediction = logmodel.predict(X_test)
accuracy(y_test, prediction)

0.616822429906542

In [12]:
from sklearn.ensemble import RandomForestClassifier

param = dict(n_estimators=[10,20,30], max_depth=[2,5,10], min_samples_split=[2,5,10])

rf_model = RandomForestClassifier()
clf = GridSearchCV(rf_model, param)
clf.fit(X_train, y_train)
clf.best_params_

C:\Users\Titan\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

{'max_depth': 10, 'min_samples_split': 5, 'n_estimators': 20}

In [13]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(max_depth= 5, min_samples_split= 2, n_estimators= 10)
clf.fit(X_train, y_train)
prediction = clf.predict(X_test)
accuracy(y_test, prediction)

0.8084112149532711

In [14]:
X_test.head()

      Age  SibSp  Parch      Fare  male  Q  S  2  3
689  15.0      0      1  211.3375     0  0  1  0  0
279  35.0      1      1   20.2500     0  0  1  0  1
508  28.0      0      0   22.5250     1  0  1  0  1
9    14.0      1      0   30.0708     0  0  0  1  0
496  54.0      1      0   78.2667     0  0  0  0  0

In [15]:
# Submission

input_data = np.array([15.0,0,1,211.3375,0,0,1,0,0]).reshape(1,9)
clf.predict(input_data)

array([1], dtype=int64)

In [16]:
data = pd.read_csv("C:/Users/Titan/Downloads/test.csv")
data.drop('Cabin', axis=1, inplace=True)
data.dropna(inplace=True)

sex = pd.get_dummies(data['Sex'], drop_first=True)     #pd.get_dummies(data['Sex'])
embark = pd.get_dummies(data['Embarked'], drop_first=True)
Pclass = pd.get_dummies(data['Pclass'], drop_first=True)
data = pd.concat([data, sex, embark, Pclass], axis=1)
data.drop(['Pclass','Name','Sex','Ticket','Embarked'], axis=1, inplace=True)

data.head()

   PassengerId   Age  SibSp  Parch     Fare  male  Q  S  2  3
0          892  34.5      0      0   7.8292     1  1  0  0  1
1          893  47.0      1      0   7.0000     0  0  1  0  1
2          894  62.0      0      0   9.6875     1  1  0  1  0
3          895  27.0      0      0   8.6625     1  0  1  0  1
4          896  22.0      1      1  12.2875     0  0  1  0  1

In [17]:
test = data.copy()
test.drop(["PassengerId"],axis=1, inplace=True)
test.head(2)

    Age  SibSp  Parch    Fare  male  Q  S  2  3
0  34.5      0      0  7.8292     1  1  0  0  1
1  47.0      1      0  7.0000     0  0  1  0  1

In [18]:
prediction = clf.predict(test)
prediction

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0], dtype=int64)

In [20]:
submission = pd.DataFrame({'PassengerId':data["PassengerId"],"Survived":prediction})
submission.head(2)

   PassengerId  Survived
0          892         0
1          893         0

In [21]:
submission.to_csv("Titanic_Submission.csv", )

In [22]:
submission.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            403, 404, 405, 406, 407, 409, 411, 412, 414, 415],
           dtype='int64', length=331)